header {
    height: 20%;
    width: 30%;
    min-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 50px;
    box-shadow: -6px -6px 9px rgb(255, 255, 255), 6px 6px 9px rgba(0, 0, 0, 0.3);
    font-size: 32px;
    text-align: center;
}

/* main {
    width: 100%;
} */
.box {
    width: 30%;
    min-width: 400px;
    box-shadow: -6px -6px 9px rgb(255, 255, 255), 6px 6px 9px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    margin-top: 5vh;
    padding: 20px;
    border-radius: 20px;
    overflow-y: auto;
}